<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>Add work experience</h3>
			<form name="experience" ng-submit="saveJob(experience, job)" novalidate>
				<div class="form-group" ng-class="{ true:'has-error'}[experience.company.$invalid && submitted]">
					<label>Company Name*</label>
					<input type="text" name="company" class="form-control" ng-model="job.company"  required>
					<p ng-show="experience.company.$invalid && submitted" class="help-block">Please enter a company</p>
				</div>
				<div class="form-group" ng-class="{ true:'has-error'}[experience.position.$invalid && submitted]">
					<label>Your position*</label>
					<input type="text" name="position" class="form-control" ng-model="job.position" required>
					<p ng-show="experience.position.$invalid && submitted" class="help-block">Please enter a position</p>
				</div>
				<div class="form-group" ng-class="{ true:'has-error'}[experience.months.$invalid && submitted]">
					<label>Months worked*</label>
					<input type="text" name="months" class="form-control" ng-model="job.monthsWorked" required>
					<p ng-show="experience.months.$invalid && submitted" class="help-block">Please enter # months worked</p>
				</div>
				<button type="submit" class="button btn-primary" ng-click="submitted=true">Add</button>
			</form>
		</div>

		<div class="col-md-8" style="background-color:#eee; border:1px solid black; border-radius:20px; min-height:300px; ">
			<h3>Your experience</h3>

			<ul ng-repeat="job in applicant.experience">

				<li>
					<experience-record company="{{job.company}}" position="{{job.position}}" months-worked="{{job.monthsWorked}}" edit="editJob(index)" index="{{$index}}"></record>
					<button type="button" class="btn btn-link" ng-click="editJob($index)">Edit</button>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>