<div>
	<div class="container">
		<form name="profile" ng-submit="saveProfile(applicant)" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : profile.first.$invalid && !profile.first.$pristine, 'has-success' : profile.first.$valid && !profile.first.$pristine }">
				<label>First Name</label>
				<input type="text" name="first" class="form-control" ng-model="applicant.first" required>
				<p ng-show="profile.first.$invalid && !profile.first.$pristine" class="help-block">Please enter your first name</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : profile.last.$invalid && !profile.last.$pristine, 'has-success' : profile.last.$valid && !profile.last.$pristine }">
				<label>Last Name</label>
				<input type="text" name="last" class="form-control" ng-model="applicant.last" required>
				<p ng-show="profile.last.$invalid && !profile.last.$pristine" class="help-block">Please provide your last name</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : profile.email.$invalid && !profile.email.$pristine, 'has-success' : profile.email.$valid && !profile.email.$pristine }">
				<label>Email</label>
				<input type="email" name="email" class="form-control" ng-model="applicant.email" required>
				<p ng-show="profile.email.$invalid && !profile.email.$pristine" class="help-block">Please provide a valid email address</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : profile.phone.$invalid && !profile.phone.$pristine, 'has-success' : profile.phone.$valid && !profile.phone.$pristine }">
				<label>Phone</label>
				<input type="tel" name="phone" class="form-control" ng-model="applicant.phone" ui-mask="(999) 999-9999" required>
				<p ng-show="profile.phone.$invalid && !profile.phone.$pristine" class="help-block">Please provide your phone number</p>
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="profile.$invalid">Save</button>
		</form>
	</div>
</div>
