<div class="container" >
	<div style="margin-top:10px;">
		<input type="text" class="form-control" placeholder="Filter Results" ng-model="filterOptions.filterText" >
	</div>
	<div style="margin-top:5px;">
		<label>City</label>
		<input type="text" ng-model="city" ng-enter="proximitySearch()"/>
		<label>State</label>
		<select ng-model="state" ng-options="state.key for state in states | orderBy:'key'" ng-enter="proximitySearch()">
	  	</select>
		<label>Search Radius</label>
		<input type="text" ng-model="searchCoords.dist" ng-enter="proximitySearch()"/>
		<button type="button" ng-click="proximitySearch()" class="btn btn-info" style="margin-left:5px;">
			<span class="glyphicon glyphicon-search"></span>
		</button
	</div>
<!-- 	<label ng-show="signedIn()" >Filter out schedules I can't work</label>
	<input type="checkbox" ng-show="signedIn()" ng-model="filterSchedule" /> -->

	<div class="row" style="margin-top:10px;">
		<div class="col-md-5">
			<div class="gridStyle " ng-grid="gridOptions"></div>
		</div>
		<div class="col-md-7">
			
			<google-map center="map.center" zoom="map.zoom" control="map.control" draggable="true">
				<marker ng-repeat="listing in listings | filter:filterOptions.filterText" coords="listing.coords" click="selectMarker(listing)" >
					<window show="listing.isSelected">
						{{listing.restaurant}}
					</window>
				</marker>

			</google-map>
		</div>
	</div>

	
	
</div>